@font-face { font-family: BakbakOne; src: url('../Fonts/Anime\ Inept.otf'); } 
@font-face { font-family: Popittins; src: url('../Fonts/Poppins/Poppins-Light.ttf') } 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Popittins;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    overflow-x: hidden;
    overflow-y: hidden;

    background-image: url(../Imagens/Imagenspublicadas/bg_login_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    overflow-x: hidden;
    overflow-y: hidden;
}
.main img{
    align-self: center;
    max-width: 350px;
    width: 50vw;
    object-fit: cover;

}

.form_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    background-image: linear-gradient(#FFFFFF, #FCFFDD);
    box-shadow: 0px 10px 20px #c6e48d63;
    padding: 40px;
}

.form_box span{
    font-size: 20px;
    font-weight: 1000;
    color:#A9B722;
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-align: center;
}

.form_box .redite_data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}
.redite_data label{
    font-weight: 800;
    color:#A9B722;
    margin-bottom: 5px;
    letter-spacing: 5px;
}

.redite_data input{
    width: 80vw;
    max-width: 400px;
    height: 50px;

    padding: 12px 20px;
    

    font-size: 15px;
    font-weight: 700;

    border-radius: 4px;
    
    color:#A9B722;
    background-color:#CADA32 ;
    box-shadow: 0px 10px 20px #7a832d8f;
    outline: none;
    border: none;
}
.redite_data input::placeholder{
    color:#a8b7228a;
}

.redite_data .sumit_button{
    display: flex;
    justify-content:center;
    align-items:center;
    align-self:center;

    margin-bottom: 5px;
    margin-top: 50px;

    width: 150px;
    height: 75px;
    border-style: solid;
    border-radius: 20px;
    border-color:#CADA32;
    background-color:#00000000;

    cursor: pointer;
    transform: 1s;
}

.redite_data .sumit_button:hover{
    background-color:#CADA32;
    box-shadow: 0px 10px 20px #7a832d8f;
}

.sumit_button a:link{
    font-weight: 600;
    color:#A9B722;
    letter-spacing: 1px;
    text-decoration: none;
}
.sumit_button a:active{
    font-weight: 600;
    color:#A9B722;
    letter-spacing: 1px;
    text-decoration: none;
}
.sumit_button a:visited{
    font-weight: 600;
    color:#A9B722;
    letter-spacing: 1px;
    text-decoration: none;

}

@media only screen and (max-width: 500px) {
    .main{
        margin-bottom: 0;
        justify-content: flex-end;
    }
    .form_box{
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        
    }
    .main img{
        align-self: center;
        max-width: 350px;
        width: 100vw;
        object-fit: cover;
    }
  }