@font-face { font-family: BakbakOne; src: url('../Fonts/Anime\ Inept.otf'); } 
@font-face { font-family: Popittins; src: url('../Fonts/Poppins/Poppins-Light.ttf') } 

*{
    margin: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Popittins",sans-serif;

}

html{
    font-size: 62.5%;
}


.heard_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    background-color: #FDFFE2;
    width: 100vw;
    height: 65px;
    font-family:BakbakOne
    
}
.heard_box h1{
    font-weight: 800;
    color:#D7E365
}

.conteiner{
    width: 100vw;
    height: 100vh;
    background-color: #FDFFE2;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar{

    width: 45rem;
    height: 52rem;
    background-color: #FDFFE2;
    box-shadow: #FDFFE2;
}

.month{
    width: 100%;
    height: 12rem;
    background-color: #A9B722;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
   



}

.month i{
    font-size: 2.5rem;
    cursor: pointer;
}

.month h1{
font-size: 3rem;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.2rem;
margin-bottom: 1rem;


}

.month p{
    font-size: 1.6rem;

}

.weekdays{
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;

}

.weekdays div{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem/7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A9B722;
   
}

.days{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    padding: 0.2rem;
}

.days div{
    font-size: 1.4rem;
    margin: 00.3rem;
    width: calc(40.2rem/7);
    height: 5rem;
    display: flex;
    align-items: center;
    color: #A9B722;
    transition: bacckground-color 0.2s;

}
.days div:hover:not(.today){
    background-color: white;
    border: 2rem solid ;
    cursor: pointer;
}

.prev-date,
.next-date{
    opacity: 0.5;
}

.today{
    background-color: #A9B722;
   
    color: #eee;
}
