@font-face { font-family: BakbakOne; src: url('../Fonts/Anime\ Inept.otf'); } 
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.heard_box{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #FDFFE2;
    width: 100vw;
}

.heard_box h1{
    font-weight: 800;
    color:#D7E365
}
#box_perfil{
    display: flex;
    background-color: rgb(243, 243, 243);
    height: 150px;
    align-items: center;
    cursor: pointer;
}
.user_box{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-left: 20px;
}
.user_icon img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.user_description{
    margin-top: 15px;
    margin-left: 10px;
}
.user_description .nome{
    font-weight: 1000;
    font-size: 2em;
}