@font-face { font-family: BakbakOne; src: url('../Fonts/Anime\ Inept.otf'); } 
@font-face { font-family: Poppins; src: url('../Fonts/Poppins/Poppins-Light.ttf'); } 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: BakbakOne;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; 
    position: relative; 
}
.heard{
    position:fixed;
    top:0;
    left: 0;
    background-color: white;
    z-index: 99;
}
.setings{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 50px;
    position:relative;
    top:0;
    
}
 .pesquisar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    width: 50vw;
    padding:5px;
    margin-top: 10px;
}
.pesquisar img{
    width: 30px;
    height: 30px; 
    
}
.box_pesquisar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    background-color: rgb(243, 243, 243);
    border-radius: 500px;
    margin-left: 5px;
    margin-right: 5px;
}

.box_pesquisar input{
    width: 100%;
    height: 100%;
    padding:0px 10px;
    background-color: transparent;
    font-size: 15px;
    padding: 0px 0px;
    font-weight: 700;
    outline: none;
    border: none;
}

.setings .perfil{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;  
    width: 50vw;
    padding:10px;
}

.perfil .icon_perfil img{
    width: 40px;
    height: 40px;
    border-radius: 50%;  
}
.perfil .icon_perfil{
    margin-right:10px;
}
.perfil .logo{
    margin-right:10px;
}
.perfil .logo img{
    max-width: 250px;
    width: 100%;
    height: auto;
}


.paginas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FDFFE2;
    padding: 5px;
    gap:10%
}
.paginas img{
    width: 40px;
    height: 40px;
}
.paginas img:hover{
    transform: scale(1.3);
}
/*-------------------------Conteudo feed--------*/


.main_conteudo{
    align-self: start;
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin-top: 106px;
    font-family: Poppins
    
}
/*-------------------------Esquerda--------*/
.main_esc{
    
    width: 20%;
    border-left-style: 3px solid black;
}
/*-------------------------Conteudo--------*/
#conteudo{
   background-color: #FDFFE2;
   width: 60%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap:10px
}
.post_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    
}
.user_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 80px;
    gap:10px;
    padding-left: 10px;
    
}
.user_box .nome{
    font-size: 1.1em;
    font-weight: 1000;
}
.perfil_icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.post_post_img_box{
    width: 100%;
    
}
.post_img{
    max-width: 100%; 
}
.rection_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 40px;
    gap:10px;
    padding-left: 10px;
}

/*-------------------------Direita--------*/
.main_dir{
    width: 20%;
    height: 100vh;
    border-left-style: 3px solid black;
}


@media only screen and (max-width: 500px) {
    .main_esc{
        display: none;
    }
    #conteudo{
        width: 100%;
    }

    .main_dir{
        display: none;
    }
    .box_pesquisar{
        display: none;
    }
    .pesquisar img{
        width: 40px;
        height: 40px; 
        margin-left: 10px;
    }    
.perfil .icon_perfil img{
    width: 35px;
    height: 35px;
}
.perfil .icon_perfil{
    margin-right:0px;
}
.perfil .logo{
    margin-right:5px;
}

.perfil .logo img{
    max-width: 250px;
    width: 100%;
    height: auto;
}
.paginas img{
    width: 30px;
    height: 30px;
}

}