body{
    margin: 0;
}
* body{
    box-sizing: border-box;
}

main{
    margin:0;
    width: 390px;
    height: 844px;
}
.setings{
    display: flex;
}

.main .table{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FDFFE2 ;
    
}
.table h1{
    margin: 0;
    font-weight: 800;
    color:#D7E365
}