@font-face { font-family: BakbakOne; src: url('../Fonts/Anime\ Inept.otf'); } 
@font-face { font-family: Poppins; src: url('../Fonts/Poppins/Poppins-Light.ttf'); }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    position: relative;
}
.setings{
    display: flex;
}
.setings .top_left{
   /* margin-left: auto;
    margin-left: 0;*/
    align-self: flex-end;
}

.setings .top_right{
    margin-right: auto;
   /* align-self: flex-start;*/
    
}

.table{
    position:absolute;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FDFFE2 ;
    width: 100%;
      
}
.table h1{
    font-weight: 800;
    color:#D7E365;
    cursor: pointer;
    font-family: BakbakOne;
}

#mapa{
  display: block;
  width: 100vw;
  height: 100vh

}