*{
    padding: 0;
    margin: 0;
}
@media (min-width: 390px)
{
    .header{
    display: flex;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: auto;
    gap: 10px;
    
    }
    .nome{
        height: 22px;
        width: auto;
        font-size: 18px;
        font-weight: bold;
    }
    .header .conteudo{
    display: flex;
    flex-direction: column;
    
    }
    .containerRotas{
        background-color: #FDFFE2;
        overflow: auto;
        white-space: nowrap;
    }
    .containerRotas .imagemRota{
        display: inline-block;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }
    
    .header .conteudo .descricao{
        margin-top: 10px;
        width: 230px;
        height: auto;
        background-color: #FDFFE2;
        padding: 5px;
    }
    .destaques{
        margin-top: 20px;
    }
    .titulo{
        margin-left: 20px;
    }
}


/*body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
* body{
    box-sizing: border-box;
}

.main{
    width: 100vw;
    height: 844px;
    overflow-x: hidden;
    overflow-y: hidden;
    
}
.setings{
    display: flex;
}
.setings .top_left{
    margin-left: auto;
    margin-left: 0;
}

.setings .top_right{
    margin-right: auto;
    
}
.main .table{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FDFFE2 ;
    
    
}
.table h1{
    margin: 0;
    font-weight: 800;
    color:#D7E365
}

.mapa{
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}*/
