@font-face { font-family: BakbakOne; src: url('../Fonts/Anime\ Inept.otf'); } 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: BakbakOne;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
    min-height: 100vh;

    overflow-x: hidden;
    overflow-y: hidden;

    background-image: url(../Imagens/Imagenspublicadas/bg_login_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    overflow-x: hidden;
    overflow-y: hidden;
}
.main img{
    align-self: center;
    max-width: 350px;
    width: 50vw;
    object-fit: cover;

    
}
.box_recuperar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-image: linear-gradient(#FFFFFF, #FCFFDD);
    box-shadow: 0px 10px 20px #c6e48d63;
    padding: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
    
}
.box_recuperar span{
    font-size: 20px;
    font-weight: 800;
    color:#A9B722;
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-align: center;
}
.box_recuperar .recuperar_data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
     
}
.recuperar_data label{
    font-weight: 800;
    color:#A9B722;
    margin-bottom: 5px;
    letter-spacing: 5px;
    }
.recuperar_data input{
    width: 80vw;
    max-width: 400px;
    height: 50px;
    border-radius: 4px;
    outline: none;
    border: none;
    color:#A9B722;
    background-color:#CADA32 ;
    box-shadow: 0px 10px 20px #7a832d8f;
}
    
.recuperar_data input::placeholder{
    color:#A9B722;
    padding: 12px 20px;
    margin: 8px 0;
}


.box_recuperar .box_rediretc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 400px;
}

.box_rediretc .rediretc_button{
    display: flex;
    justify-content:center;
    align-items:center;

    margin-bottom: 5px;
    
    margin-top: 50px;

    width: 150px;
    height: 75px;
    border-style: solid;
    border-radius: 20px;
    border-color:#CADA32;

    cursor: pointer;

    background-color:#00000000;
    
    transform: 1s;
}

.box_rediretc .rediretc_button:hover{
    background-color:#CADA32;
    box-shadow: 0px 10px 20px #7a832d8f;
}

.rediretc_button a:link{
    letter-spacing: 1px;
    font-weight: 600;
    color:#A9B722;
    text-decoration: none;
}
.rediretc_button a:active{
    letter-spacing: 5px;
    font-weight: 600;
    color:#A9B722;
    text-decoration: none;
}
.rediretc_button a:visited{
    letter-spacing: 5px;
    font-weight: 600;
    color:#A9B722;
    text-decoration: none;

}

@media only screen and (max-width: 500px) {
    .main{
        margin-bottom: 0;
        justify-content: flex-end;
    }
    .box_recuperar{
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        
    }
    .main img{
        align-self: center;
        max-width: 350px;
        width: 70vw;
        object-fit: cover;
    }
  }