/*form{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
}*/

.loginbox{
    background-color:green;
}
.loginbox .login_itens{
    display: flex;
    flex-direction: column;
}