@font-face { font-family: BakbakOne; src: url('../Fonts/Anime\ Inept.otf'); } 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: BakbakOne;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow-x: hidden;
    overflow-y: hidden;

    background-image: url(../Imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow-x: hidden;
    overflow-y: hidden;

    width: 100vw;
    height: 100vh;
}
.main img{
    max-width: 350px;
    width: 50vw;
    align-self: center;
    object-fit: cover;

}
.box_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    padding: 50px; 
    background-image: linear-gradient(#FFFFFF, #FCFFDD);
    box-shadow: 0px 10px 20px #c6e48d63;
     
}

.box_login .login_data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;   
}

.login_data label{
    font-weight: 800;
    color:#A9B722;
    margin-bottom: 5px;
    letter-spacing: 5px;
}
.login_data input{
    max-width: 400px;
    height: 50px;
    width: 80vw;

    padding: 12px 20px;
   

    font-size: 15px;
    font-weight: 700;

    border-radius: 4px;
    color:#A9B722;
    background-color:#CADA32 ;
    box-shadow: 0px 10px 20px #7a832d8f;
    outline: none;
    border: none;

}

.login_data input::placeholder{
    color:#a8b7228a;
    
}
.login_button a:link{
    font-weight: 800;
    color:#A9B722;
    letter-spacing: 5px;
    text-decoration: none;
}
.login_button a:active{
    font-weight: 800;
    color:#A9B722;
    letter-spacing: 5px;
    text-decoration: none;
}
.login_button a:visited{
    font-weight: 800;
    color:#A9B722;
    letter-spacing: 5px;
    text-decoration: none;
}


.main .login_button{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70vw;
    height: 75px;
    max-width: 300px;

    margin-bottom: 5px;
    margin-top: 50px;

    border-style: solid;
    border-radius: 20px;
    border-color:#CADA32;
    background-color:#00000000;

    cursor: pointer;
    transform: 1s;
}
.main .login_button:hover{
    background-color:#CADA32;
    box-shadow: 0px 10px 20px #7a832d8f;
}

.login_rediretc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 10px;
}

.login_rediretc a{
  color:#A9B722;
  text-decoration: none;
}

.login_rediretc a:hover{
    text-decoration: underline;
}
/*mensagem de erro*/

@media only screen and (max-width: 500px) {
    .main{
        margin-bottom: 0;
        justify-content: flex-end;
    }
    .box_login{
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        
    }
    .main img{
        align-self: center;
        max-width: 350px;
        width: 70vw;
        object-fit: cover;
    }
  }